<form style="direction: rtl !important; text-align: center;padding-right: 0px; margin: 0px;width: 100%;">
    <div class="quranText" id="quranText" class="container" [class.show]="show">
        <div class="suraHeaderFrame">
            <div class="suraHeaderText" style="direction: rtl !important;"> {{selectedSuraName}} ﴿ <a> {{totalAyat}}
                    ايات </a>﴾
                <!-- <span class="ayaNumber" style="font-size: 0.8em;">﴿<a>{{totalAyat}} ايات </a>﴾</span> -->
            </div>
        </div>

        <span class="aya" *ngFor="let aya of filteredVerses ; let i=index">
            <div class="ayaText besm" *ngIf="aya.verseId==1 && !(aya.suraId===1 || aya.suraId===9)">
                بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ
            </div>
            <span *ngIf="!hideVerses">
                <span>
                    <span class="ayaText">{{aya.ayahText}}</span>
                    <span class="ayaNumber">﴿<a>{{aya.verseId}}</a>﴾</span>
                </span>
            </span>

            <span *ngIf="hideVerses">
                <span *ngIf="rowIndex!=i  || !show" (click)="toggle(i)">
                    <span class="ayaText">{{aya.ayahText.substr(0, 20)}}</span>
                    <!-- The line below is to get all trimed charachters to repalcae them with dash (-) -->
                    <span class="ayaText" id="invisible-aya">{{aya.ayahText.slice(20,aya.ayahText.length)}}</span>
                    <!-- <span class="ayaText" *ngIf="aya.verseId!=1 && aya.sureaId!=1">{{replaceAll(aya.ayahText.slice(20,aya.ayahText.length),'-')}}</span> -->

                    <!-- <span style="color: blue;">
                        <i class="fas fa-ellipsis-h"></i>
                    </span> -->
                    <span class="ayaNumber">﴿<a>{{aya.verseId}}</a>﴾</span>
                </span>

                <span *ngIf="rowIndex==i && show" (click)="toggle(i)">
                    <span class="ayaText">{{aya.ayahText}}</span>
                    <!-- <span style="color: red;font-size: 20px;">
                        <i class="fas fa-eye-slash"></i>
                    </span> -->
                    <span class="ayaNumber">﴿<a>{{aya.verseId}}</a>﴾</span>
                </span>
            </span>



        </span>
    </div>
</form>



<div class="stickyicon">
    <a (click)="openNav()"><i class="fas fa-bars" style="font-size: 30px;"></i></a>
</div>

<div id="mySidenav" class="sidenav">


    <form class="form-row" [formGroup]="suraForm" validate>
        <div class="col-6" style="align-content: center;padding-left: 30px;">
            <select class="form-control" formControlName="suraId" id="suraId" (change)="suraChanged()" min='1'>
                <option *ngFor="let suraIndex of suraIndexes" [ngValue]="suraIndex.suraId">
                    {{suraIndex.suraId}} - {{suraIndex.suraName}}
                </option>
            </select>
        </div>


        <a class="closebtn" style="color: lawngreen;" (click)="closeNav()">&times;</a>
        <div>
            <div class="row">
                <div class="col">

                    <label class="checkbox-inline" for="checkboxes-0"
                        style="padding-left: 10px;font-size: 20px; text-align: right; ">
                        اخفاء الايات
                        <input type="checkbox" name="checkboxes" formControlName="hideVerses" id="checkboxes" value="1"
                            (change)="toggleHideVerses()">
                    </label>

                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="toVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <br />
                الى
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="fromVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;padding-right: 25px;">

                    <label>عرض الايات<br /> من</label>
                </div>
            </div>
        </div>

    </form>

</div>




<!-- 
<form class="form-row" [formGroup]="suraForm" validate>
    <div class="footer" style="padding: 0px;">
       
        <div>
            <select id="suraId" class="form-control" formControlName="suraId" style="text-align: right;"
                (change)="suraChanged()" min='1'>
                <option *ngFor="let suraIndex of suraIndexes" [ngValue]="suraIndex.suraId" style="text-align: right;">
                    {{suraIndex.suraId}} - {{suraIndex.suraName}}
                </option>
            </select>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">

                    <label class="checkbox-inline" for="checkboxes-0" style="padding: 5px;">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                        اخفاء
                    </label>

                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="toVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="fromVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;">
                    
                    <label>تحفيظ القران</label>
                </div>
            </div>
        </div>
    </div>
</form> -->