<form style="direction: rtl !important;">
    <div class="quranText" id="quranText" class="container" [class.show]="show"
        style="text-align: justify; font-family: KFGQPC Uthman Taha Naskh , KFGQPC_Naskh; font-size: 1.5em; font-weight: normal;">
        <div class="suraHeaderFrame">
            <div class="suraHeaderText" style="direction: rtl !important;"> {{selectedSuraName}} ﴿ <a> {{totalAyat}}
                    ايات </a>﴾
                <!-- <span class="ayaNumber" style="font-size: 0.8em;">﴿<a>{{totalAyat}} ايات </a>﴾</span> -->
            </div>
        </div>

        <span class="aya" *ngFor="let aya of filteredVerses ; let i=index">

            <span *ngIf="!hideVerses">
                <span class="aya-wrapper" style="background-color: transparent;">
                    <span class="ayaText" style="direction: rtl !important;">{{aya.ayahText}}</span>
                    <span class="ayaNumber" style="font-size: 0.7em;"> ﴿<a> {{aya.verseId}}
                        </a>﴾</span>
                </span>
            </span>


            <span *ngIf="hideVerses">
                <span class="aya-wrapper" style="background-color: transparent;direction: rtl !important;"
                    *ngIf="rowIndex!=i  || !show" (click)="toggle(i)">
                    <span class="ayaText">{{aya.ayahText.substr(0, 20)}}</span>

                    <span style="color: blue;">
                        <i class="fas fa-ellipsis-h"></i>
                    </span>
                    <span class="ayaNumber" style="font-size: 0.7em;">﴿<a>{{aya.verseId}}</a>﴾</span>
                </span>

                <span class="aya-wrapper" style="background-color: transparent;direction: rtl !important;"
                    *ngIf="rowIndex==i && show" (click)="toggle(i)">
                    <span class="ayaText">{{aya.ayahText}}</span>
                    <span style="color: red;font-size: 20px;">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                    <span class="ayaNumber" style="font-size: 0.7em;">﴿<a>{{aya.verseId}}</a>﴾</span>
                </span>
            </span>



        </span>
    </div>
</form>



<div class="stickyicon">
    <a (click)="openNav()"><i class="fas fa-bars" style="font-size: 30px;"></i></a>
</div>

<div id="mySidenav" class="sidenav">


    <form class="form-row" [formGroup]="suraForm" validate>


        <div class="col-6" style="align-content: center;padding-left: 30px;">

            <select id="suraId" class="form-control" formControlName="suraId" (change)="suraChanged()" min='1'>
                <option *ngFor="let suraIndex of suraIndexes" [ngValue]="suraIndex.suraId">
                    {{suraIndex.suraId}} - {{suraIndex.suraName}}
                </option>
            </select>
        </div>


        <a class="closebtn" style="color: lawngreen;" (click)="closeNav()">&times;</a>



        <div>
            <div class="row">
                <div class="col">

                    <label class="checkbox-inline" for="checkboxes-0" style="padding-left: 30px;font-size: 25px;">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"
                            (change)="toggleHideVerses()">
                        اخفاء
                    </label>

                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="toVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <br />
                الى
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="fromVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;">

                    <label>عرض الايات<br /> من</label>
                </div>
            </div>
        </div>

    </form>

</div>




<!-- 
<form class="form-row" [formGroup]="suraForm" validate>
    <div class="footer" style="padding: 0px;">
       
        <div>
            <select id="suraId" class="form-control" formControlName="suraId" style="text-align: right;"
                (change)="suraChanged()" min='1'>
                <option *ngFor="let suraIndex of suraIndexes" [ngValue]="suraIndex.suraId" style="text-align: right;">
                    {{suraIndex.suraId}} - {{suraIndex.suraName}}
                </option>
            </select>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">

                    <label class="checkbox-inline" for="checkboxes-0" style="padding: 5px;">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                        اخفاء
                    </label>

                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="toVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;">
                    <input type="number" formControlName="fromVerse" class="form-control" (keyup)="getFilteredVerses()">
                </div>
                <div class="col" style="padding: 5px;">
                    
                    <label>تحفيظ القران</label>
                </div>
            </div>
        </div>
    </div>
</form> -->